<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Films</title>
</head>
<body>

<div class="container mt-5">
<h1 align="center" > All films </h1>
{% for el in post %}
<div class="alert alert-info" align="center">
    <p> Название filma: {{el.name}}</p>
    <p> Жанр: {{el.description}}</p>
    <p> год выпуска: {{el.date_make}}</p>
    <p> сумма сборов: {{el.summa}}</p>
</div>
</div>
{% endfor %}
</body>
</html>

